<span class="line2 form-group clearfix">
  <div id="total_rows">
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 count_row" id="count_row" ></div>
  </div>
  <div class="row">
    <div>
      <%= f.input( :name, label: false, :autofocus => true, input_html: {
        class: 'form-control name ',
        placeholder: "Ingrese Producto",
        data: {'autocomplete-field' => true,
               'autocomplete-for' => '#invoice_orders_#{id}_article_id',
               'autocomplete-url' => articles_path(format: :json)
        }
      }) %>
    <%= f.input :article_id, label: false%>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">

      <%= f.input :quantity_stock, as: :hidden, label: false  %>
      <%= f.input :allow_negative, as: :hidden,  label: false  %>
      <% if params[:action] == 'new' || params[:action] =='create'  %>
        <%= f.input :quantity, label: false, as: :string, :input_html => {:class => "form-control quantity", value: 1}  %>
      <% else %>
        <%= f.input :quantity, label: false, as: :string, :input_html => {:class => "form-control quantity"}, placeholder: "Ingrese Cantidad"   %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1">
      <%= f.input  :package, input_html: {class: "form-control package", value: 1}, label: false, placeholder: "Ingrese Bulto" %>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <%= f.input :price_unit, label: false, as: :string, :input_html => {:class => "form-control price_unit price_unit_add "}, placeholder: "Precio Unitario"  %>
      <%= f.input :price_original, as: :hidden, label: false,  :input_html => {:class => "form-control price_original "}  %>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <%= f.input :price_total, label: false, as: :string, :input_html => {:class => "form-control price_subtotal"}, placeholder: "Precio Total" %>
    </div>
    <%= f.hidden_field :_destroy %>

    <div class="col-xs-12 col-sm-1 col-md-1">
      <%= link_to "X", "#", class: "remove_fields_orders btn btn-danger" %>
    </div>
</span>
