<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="search-form">
        <div class="col-md-12">
          <h2 class="col-md-6" >Listado de Articulos -  [ #<%=@articles.count  %> ] </h2>
          <%= link_to 'Nuevo Articulo', new_article_path, class: " btn btn-success col-md-3 pull-right btn-responsive" %>
        </div>
        <%= render "filter" %>
      </section>
      <div>
        <% if flash[:error] %>
          <div class="alert alert-error "><%= flash[:error]  %></div>
        <% end %>
        <% if notice %>
          <div class="alert alert-success "><%= notice  %></div>
        <% end %>
      </div>
      <%= will_paginate @articles%>
      <div>

      </div>
      <% if @articles %>
        <div>
          <div class="tabla-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th class="hidden-phone hidden-table">#</th>
                  <th><%= Article.human_attribute_name(:name)%></th>
                  <th class="hidden-phone hidden-table"><%= Article.human_attribute_name(:supplier)%></th>
                  <th><%= Article.human_attribute_name(:price_total)%></th>
                  <th class="hidden-phone hidden-table"><%= Article.human_attribute_name(:quantity)%></th>
                  <th colspan="2" class="hidden-phone hidden-table"></th>
                </tr>
              </thead>
              <tbody>
                <% @articles.each do |article| %>
                  <tr>
                    <td class="hidden-phone hidden-table"><%= article.id %></td>
                    <td><%= article.name %></td>
                    <td class="hidden-phone hidden-table"><%= article.supplier_id  if !article.supplier_id.nil?  %></td>
                    <td><b><%= number_to_currency(article.price_total) %></b></td>
                    <td class="hidden-phone hidden-table"><%= article.quantity %></td>
                    <%if can? :edit, @article %>
                      <td class="hidden-phone hidden-table"><%= link_to 'Editar', edit_article_path(article ) %></td>
                      <td class="hidden-phone hidden-table"><%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
                    <% end %>
                  <% end %>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
