<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @stock.article_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Price cost:</strong>
  <%= @stock.price_cost %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @stock.supplier_id %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
