<div class="col-md-12"> 
<div class="form-group">
  <div class="col-md-2 sidebar">
    <%= render :partial => 'filters_bar' %>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="col-md-8 customer">

      <h1>Caja Diaria</h1>
      <%= will_paginate @accounting_records %>
      <table class="table">
        <thead>
          <tr>
            <th>Detalle</th>
            <th>Ingreso</th>
            <th>Egreso</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @accounting_records.each do |accounting_record| %>
            <tr>
              <td><%= accounting_record.detail %> <%=link_to "( #{accounting_record.invoice_id} )", edit_invoice_path(accounting_record.invoice_id) if !accounting_record.invoice_id.nil?  %>  </td>
              <td><%= number_to_currency(accounting_record.credit) %></td>
              <td><%= number_to_currency(accounting_record.debit) %></td>
              <td><%= link_to 'Editar', edit_accounting_record_path(accounting_record) if accounting_record.present?%></td>
              <td><%= link_to 'Eliminar', accounting_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td><%= number_to_currency(@credit) %></td>
            <td><%= number_to_currency(@debit) %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <h4>Total de Caja: <%= number_to_currency(@caja_total) %></h3>
       <% if current_user.role == 'admin' %>
         <h4>Total de Ganancia: <%= number_to_currency(@earnings) %></h3>
       <% end %>
      </div>
      <%= link_to 'Nuevo Registro', new_accounting_record_path %>
    </div>
  </div>
</div>
</div>

